.about__icon {
    color: #61dafb;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about__card h5 {
    font-size: 0.95rem;
}

.about__card small {
    font-size: 0.7rem;
    color: aliceblue;
}

.about__content p {
    margin: 2rem 0 2.6rem;
    color: aliceblue;
}

.aboutImageContainer > img {
    object-fit: cover;
    overflow: hidden;
    margin: 20%;
    width: 80%;
    height: auto;
    max-width: 350px;
    border: transparent;
    border-radius: 2rem;
    background: #61dafb;
}