.blogContainer {
    background-color: aliceblue;
    color: black;
    height: 150vh;
}

.articleContainer {
    display: flex;
    justify-content: center;
    padding: 3rem;
}

section {
    padding-top: 0;
}