.App {
  /*text-align: center;*/
  color: aliceblue;
  background-image: linear-gradient(to top right, #063968, #063968, #010A27);
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
}

